@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
 

body{
  font-family: 'Montserrat',sans-serif;
  /*background-color: #4d2800;*/
}

 

#coffee {
color: black;; font-size: 70px;
font-family: 'Montserrat',sans-serif;
}

#h2 {
color: black;; font-size: 20px;
font-family: 'Montserrat',sans-serif; margin-bottom: 30px;

}


/* Coffee page */
.item-tile {
margin-bottom: 25px;
}
.item-tile hr {
width: 80%;
}
.item-tile .item-price { font-size: 1.1em; text-align: right; margin-top: -15px; margin-right: -15px; color: black;
}
.item-price .item-price span { font-size: .6em;
}

.item-photo {
position: relative;
/*border: 2px solid black;*/ overflow: hidden;
padding: 0;
margin-right: -15px; margin-left: auto; margin-bottom: 20px; max-width: 200px;
}
.item-photo div {
position: absolute; bottom: 0;
right: 0; width: 80px;
background-color: #557c3e; text-align: center;
color: #ffffff;
/*	border-left: 1.5px solid black; border-top: 1.5px solid black;*/
}

.item-description {
 
padding-right: 30px;
}

h3.item-title {
margin: 0 0 10px; color: black; font-size: 30px;
font-family: 'Montserrat',sans-serif;
}
.item-details {
font-size: .9em; color: black;; font-size: 15px;
font-family: 'Montserrat',sans-serif;
}

 
.p {
  text-align: center; font-size: 1.8em;

}
 

/* text-align: center; font-size: 1.8em;*/
 

/* End of coffee menu page */

/*small devices*/
@media (max-width: 767px) {

.item-photo {
margin-right: auto;
}

.item-tile .item-price { text-align: center;
}

.item-description { text-align: center;
}

}
